<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <h1>This is a counter</h1>
      <%="#{@guess} is too #{@result}"%> <br /></br>      <%="#{@scrt_num} is the secret number"%>
      <%= @test %>
  </body>

</html>
