<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <h1>This is a game</h1>
      <%="#{@guess} is too #{@result}\n#{@scrt_num} is the secret number"%>
      <%="The number of attempts is #{@num_count}"%>
  </body>

</html>
